/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color-1: #f6f6f6;
  --background-color-2: #e0e0e0;
  --background-color-footer: #353535;
  --background-color-4: #ffffff;
  --box-shadow: #929191;
  --font-color-1: #ffffff;
  --font-color-2: #000000;
  --primary-color-1: #9356dc;
  --primary-color-1-light: #af8add;
  --primary-color-2: #ff79da;
  --primary-color-2-light: #fbafe6;
  --primary-color-3: #99e2d0;
}

/*PAGE*/

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-width: 1025px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}

/*HEADER*/

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__arrow__container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.header__arrow__container a:link {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__arrow__container a:hover {
  color: var(--primary-color-2);
}

.header__arrow__container a:visited {
  color: var(--font-color-2);
}

.header__arrow__container .fas {
  font-size: 1.5em;
}

.header__arrow__container .fas:visited {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__title__container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.header__title__container a:link {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__title__container:visited {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__title__container a {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__title {
  font-family: "Shrikhand";
  font-size: 3em;
}

.header__title.visited {
  text-decoration: none;
  color: var(--font-color-2);
}

.header__title a:link {
  text-decoration: none;
  color: var(--font-color-2);
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__title {
    font-size: 2em;
  }
  .header .fas {
    font-size: 1em;
  }
}

/*HERO*/

.hero__image {
  width: 100%;
  height: 20em;
}

.hero__image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__title .far {
  font-size: 2em;
  width: 10%;
  padding-right: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    height: 20em;
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: 15em;
  }
}

/*MAIN*/

.main {
  width: 100%;
  background-color: var(--background-color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
  top: -3em;
  margin-bottom: -3em;
}

.main__title {
  height: auto;
  background-color: var(--background-color-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 1em;
}

.main__title__text {
  font-family: "Shrikhand";
  width: auto;
  padding-right: 1em;
}



.main__title__star {
  position: relative;
  width: 1.5em;
  height:1.5em
 }

 .main__title__star:hover{
cursor: pointer;

 }
 
 .main__title__star .heart-no {
  display: block;
  width: 100%;
  height: 100%;
 }




.main__title__star .heart-yes {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
 }


 .main__title__star:hover .heart-no {
  opacity:0
 }
 

 .main__title__star:hover .heart-yes {
  animation-name:selection;
  animation-duration:1s;
  animation-fill-mode: forwards;
  display:flex;
  justify-content: center;
  align-items: center;
 }

 @keyframes selection {

  from{

opacity:0;
  }

  to{

opacity:1;

  }
 }

 .main__title__star:hover .heart-yes .image-heart-yes{
     animation-name:selection-ok;
     animation-duration:1s;
     animation-fill-mode: forwards;
     transform-origin: center;

 }

 @keyframes selection-ok{
     from{
     width:0px;
     height:0px
     }

     to{

  width:100%;
     height:100%;
     }
 }

 

 










/*ANIMATION 2*/



/*ANIMATION 2 FIN*/

.main__section {
  width: 30%;
  padding: 1em;
  overflow: hidden;
}

.main__section__title {
  display: inline-block;
  border-bottom: var(--primary-color-3);
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  width: 10%;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.main__section__card {
  display: flex;
  align-items: center;
  width: 98%;
  height: 4em;
  margin: auto;
  border-radius: 1em;
  cursor: pointer;
  background-color: var(--background-color-4);
  box-shadow: 0.2rem 0.2rem 0.5rem grey;
  margin-bottom: 1em;
  overflow: hidden;
  opacity: 0;
}

@media screen and (min-width: 320px) and (max-width:1024px)

{
  .main__section__card{
    width: 97%;

  }

}


/* ANIMATION 4*/

/*DESKTOP*/

@media screen and (min-width: 1025px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    animation-name: card-display;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
  }

  .card2 {
    animation-delay: 0.3s;
  }

  .card3 {
    animation-delay: 0.6s;
  }

  .card4 {
    animation-delay: 0.9s;
  }
}

@keyframes card-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*TABLET & MOBILE*/
@media (min-width: 320px) and (max-width: 1024px) {
  #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6,
  #card7,
  #card8,
  #card9,
  #card10 {
    animation-name: card-display;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
  }

  #card2 {
    animation-delay: 0.3s;
  }

  #card2 {
    animation-delay: 0.6s;
  }

  #card3 {
    animation-delay: 0.9s;
  }

  #card4 {
    animation-delay: 1.2s;
  }

  #card5 {
    animation-delay: 1.5s;
  }

  #card6 {
    animation-delay: 1.8s;
  }

  #card7 {
    animation-delay: 2.1s;
  }

  #card8 {
    animation-delay: 2.4s;
  }

  #card9 {
    animation-delay: 2.7s;
  }

  #card10 {
    animation-delay: 3s;
  }
}

/*FIN ANIMATION 4*/

.main__section__card__textcontainer {
  width: 80%;
  background-color: var(--background-color-4);
  padding-left: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.main__section__card:hover .main__section__card__textcontainer {
  animation-name: appearance-text;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main__section__card:not(:hover) .main__section__card__textcontainer {
  animation-name: appearance-text-back;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}


.main__section__card__textcontainer p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.main__section__card__text1 {
  font-size: 0.98em;
  font-weight: bold;
}

.main__section__card__text2 {
  font-size: 0.8em;
}

.main__section__card__price {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--background-color-4);
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 1em;
}

.main__section__card__check {
  display: flex;
  width: 0%;
  height: 100%;
  background-color:var(--primary-color-3);
}
.main__section__card__check .main__section__card__checkcontainer {
  margin: auto;
  border-width: 0.2em;
  border-style: solid;
  border-color: var(--primary-color-3);
  border-radius: 50%;
  color: var(--primary-color-3);
  background-color: var(--primary-color-3);
}

.main__section__card__check .main__section__card__checkcontainer .fas {
  padding: 0.4em;
  background-color: var(--background-color-4);
  border-radius: 1em;
  color: var(--primary-color-3);
}

.main__section__card:hover .main__section__card__check {
  animation-name: appearance-check;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main__section__card:not(:hover) .main__section__card__check {
  animation-name: appearance-check-back;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}

.main__section__card:hover
  .main__section__card__check
  .main__section__card__checkcontainer {
  animation-name: rotation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main__section__card:not(:hover)
  .main__section__card__check
  .main__section__card__checkcontainer {
  animation-name: rotation-back;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
}






/* ANIMATION 5*/

/* ANIMATION 5* MOBILE*/

@media screen and (min-width: 320px) and (max-width: 480px) {

  @keyframes appearance-text {
    from {
      width: 80%;
    }
    to {
      width: 60%;
    }
  }

  @keyframes appearance-check {
    from {
      width: 0%;
    }
    to {
      width: 20%;
    }
  }

  @keyframes appearance-text-back {
    from {
      width: 60%;
    }
    to {
      width: 80%;
    }
  }
  
  @keyframes appearance-check-back {
    from {
      width: 20%;
    }
    to {
      width: 0%;
    }
  }

}

/* ANIMATION 5* TABLET*/

@media screen and (min-width: 481px) and (max-width: 1024px) {

  @keyframes appearance-text {
    from {
      width: 80%;
    }
    to {
      width: 70%;
    }
  }

  @keyframes appearance-check {
    from {
      width: 0%;
    }
    to {
      width: 10%;
    }
  }

  @keyframes appearance-text-back {
    from {
      width: 70%;
    }
    to {
      width: 80%;
    }
  }
  
  @keyframes appearance-check-back {
    from {
      width: 10%;
    }
    to {
      width: 0%;
    }
  }



}

/* ANIMATION 5* DESKTOP*/

@media screen and (min-width: 1025px) {

@keyframes appearance-text {
  from {
    width: 80%;
  }
  to {
    width: 55%;
  }
}

@keyframes appearance-check {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

@keyframes appearance-text-back {
  from {
    width: 55%;
  }
  to {
    width: 80%;
  }
}

@keyframes appearance-check-back {
  from {
    width: 25%;
  }
  to {
    width: 0%;
  }
}



}





@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation-back {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* FIN ANIMATION 5*/

.main__button {
  background: linear-gradient(
    160deg,
    var(--primary-color-2),
    var(--primary-color-1)
  );
  border-radius: 10em 10em 10em 10em;
  padding: 1.2em;
  font-size: 1.1em;
  color: var(--font-color-1);
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.2rem 0.2rem 0.5rem grey;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 12em;
  align-self: center;
  z-index: 1;
  position: relative;
}

.main__button:hover {
  animation-name: button-hover;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes button-hover {
  from {
    opacity: 1;
    box-shadow: 0.2rem 0.2rem 0.5rem grey;
  }
  to {
    opacity:0.7;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(37, 37, 37);
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    padding-bottom: 4em;
    align-items: center;
    width: 100%;
  }

  .main__title {
    height: auto;
    background-color: var(--background-color-1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 0em;
  }

  .main__title__text {
    font-size: 1.5em;
    width: 70%;
  }
  .main__title .far {
    font-size: 1.5em;
  }

  .main__section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .main__section__title {
    display: inline-block;
    align-self: flex-start;
    border-bottom: var(--primary-color-3);
    border-bottom-style: solid;
    border-bottom-width: 0.2em;
    width: 10%;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }

 

  .main__section__card__text1 {
    font-size: 0.9em;
  }

  .main__section__card__text2 {
    font-size: 0.70em;
  }

  .main__button {
    margin-top: 2em;
    box-shadow: 0.2rem 0.2rem 0.5rem grey;
  }
}



/*FOOTER*/

.footer {
  background-color: var(--background-color-footer);
  padding: 0.5em;
}

.footer__list {
  list-style-type: none;
  line-height: 1.5em;
  color: var(--font-color-1);
  margin-left: 1em;
  padding-left: 0;
}

.footer__list__title {
  font-family: "Shrikhand";
  font-size: 1.3em;
  margin-bottom: 1em;
}

.footer__list__element a {
  color: var(--font-color-1);
}

.footer__list .fas {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer__list__link:hover {
  color: var(--primary-color-2);
}
