/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*PAGE*/

:root{
--background-color-1:#f6f6f6;
--background-color-2:#e0e0e0;
--background-color-footer:#353535;
--primary-color-1:#9356DC;
--primary-color-2:#FF79DA;
--primary-color-3:#99E2D0;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-width: 1280px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

/*HEADER*/

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: "Shrikhand";
  font-size: 3em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__title {
    font-size: 2em;
  }
}

/*CONTAINER TOP*/

.container__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--background-color-1);
}

.containertop__address {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 0.2em;
  border-top-style:outset;
  border-top-color: #b1b1b1;
  background-color: var(--background-color-2);
  height: auto;
  display: flex;
  justify-content: center;
}
.containertop__address .fas {
  font-size: em;
  position: absolute; left:-20%
}

.containertop__address__text {
  font-size: 1.3em;
  text-align: center;
  width:auto;
  position: relative;
}

.containertop__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 235, 235, 0.945);
  text-align: center;
  padding-top:3em;
  padding-bottom:3em;
}

.containertop__title__textmain {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.containertop__title__textsecond {
  font-size: 1em;
  text-align: center;
  font-weight:lighter ;
}

.containertop_title__button {
  background: linear-gradient(160deg, var(--primary-color-2), var(--primary-color-1));
  border-radius: 10em 10em 10em 10em;
  padding: 1.2em;
  font-size: 1.1em;
  color: white;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0em 0.5em 0.3em 0.3em rgba(255, 253, 253, 0.75);
  margin-top:1em;
  margin-bottom: 1em;
  width:16em;
  box-shadow:0.5em 0.5em 1em #929191;
}

@media (min-width: 320px) and (max-width: 480px) {


  .containertop__address__text {
    font-size: 1.5em;
    width:auto;
  }

  .containertop__address .fas {
    font-size: 1em;
  }
  .containertop__address__text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
  }
  .containertop__title__textmain {
    width: 70%;
    font-size: 1.5em;
  }

  .containertop__title__textsecond {
    width: 80%;
  }
}

/*TUTORIAL*/

.containertutorial {
  padding: 1em;
}

.containertutorial__title {
  font-size: 1.5em;
  width: 100%;
}

.containertutorial_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  margin:auto;
  width:95%;
}

.containertutorial__list__button {
  border-radius: 2em;
  padding-top: 0.8em;
  padding-bottom:0.8em;
  padding-left:0.8em;
  padding-right:0em;
  background-color: var(--background-color-1);
  width: 29%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  position: relative;
  box-shadow:0.5em 0.5em 1em #929191;
  cursor: pointer;
}

.containertutorial__list__button:hover{
  background-color:var(--primary-color-1 * 5% darker) ;
}

.containertutorial__list__button:hover .fas{
  color:var(--primary-color-1);
}



.container__tutorial__list__button__number {
  position: absolute;
  left: -0.5em;
  color: white;
  top: auto;
  background: var(--primary-color-1);
  border-radius: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7em;
  height: 0.7em;
  font-size: 0.8em;
}

.containertutorial__list__button .fas {
  width: 15%;
  display: flex;
  justify-content: center;
  color: grey;
}
.fas .selected{
    color:var(--primary-color-1);
  }

.containertutorial__list__button__text {
  width: 85%;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .containertutorial {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 0em;
    padding-right: 0em;
  }

  .containertutorial__title {
    font-size: 1.5em;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
  }

  .containertutorial_list {
    flex-direction: column;
    justify-content: center;
  }
  .containertutorial__list__button {
    width: 85%;
    margin-bottom: 1.5em;
  }
  .containertutorial__list__button__numbercontainer {
    width: 0.5em;
    height: 0.5em;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .containertutorial_list {
    flex-direction: column;
    justify-content: center;
  }
  .containertutorial__list__button {
    width: 60%;
    margin-bottom: 1em;
  }
}

/*RESTAURANTS*/

.containerrestaurants {
  background-color: var(--background-color-1);
  height: auto;
  padding: 1em;
}

.containerrestaurants__title {
  font-size: 1.5em;
  width: 100%;
}

.containerrestaurants__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.containerrestaurants__list__card {
  width: 35%;
  height: 15em;
  border-radius: 1em;
  border-style: solid;
  border-width: 0em;
  margin: 2em;
  box-shadow:0.5em 1em 1em #929191;
}

.containerrestaurants__list__card__image {
  height: 80%;
  border-radius: 1em;
  position: relative;
}

.containerrestaurants__list__card__image__new{
  position: absolute; top: 1em; right: 1em;
  background-color:var(--primary-color-3);
  padding:0.5em;
  color: #1a4d3f;
  border-radius: 0.2em;

}

.containerrestaurants__list__card__image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.containerrestaurants__list__card__text {
  height: 25%;
  background-color: white;
  padding:0.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.containerrestaurants__list__card__text p {
  color: black;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.containerrestaurants__list__card__text__name {
  font-weight: bold;
  width: 85%;
}

.containerrestaurants__list__card__text__location {
  width: 85%;
}

.containerrestaurants__list__card__text .far {
  font-size: 1.5em;
  width:15%;
  height:50%;
  color: grey;
  text-align: center
}

@media (min-width: 320px) and (max-width: 480px) {
  .containerrestaurants {
    padding-top: 4em;
    padding-bottom: 3em;
    padding-left: 0em;
    padding-right: 0em;
  }
  .containerrestaurants__title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0em;
  }
  .containerrestaurants__list__card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 0em;
  }

  .containerrestaurants__list__card__image {
    height: 75%;
  }
  .containerrestaurants__list__card__text {
    height: 25%;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .containerrestaurants__list__card {
    width: 100%;
  }
}

/*FOOTER*/

.footer {
  background-color: #353535;
  padding: 0.5em;
}

.footer__list {
  list-style-type: none;
  line-height: 1.5em;
  color: white;
  margin-left: 1em;
  padding-left:0
}

.footer__list__title {
  font-family: "Shrikhand";
  font-size: 1.3em;
  margin-bottom: 1em;
}

.footer__list__element a {
  color: white;
}

.footer__list .fas {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer__list__link:hover {
  color:var(--primary-color-2);
}
