/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*PAGE*/

body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (min-width: 1280px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

/*HEADER*/

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__arrow__container{
  width: 20%;
  display: flex;
  justify-content: center;
}

.header__arrow__container a:link{
  text-decoration:none;
  color: black;
}

.header__arrow__container a:hover{
  color: #ff79da;
}

.header__arrow__container a:visited{
  color: black;
}

.header__arrow__container .fas {
  font-size: 1.5em;
}

.header__title__container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.header__title {
  font-family: "Shrikhand";
  font-size: 3em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header__title {
    font-size: 2em;
  }
  .header .fas {
    font-size: 1em;
  }
}

/*HERO*/

.hero {
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.hero__image {
  height: 80%;
  border-radius: 1em;
}

.hero__image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.hero__title {
  height: 20%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: rgba(236, 235, 235, 0.945);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title__text {
  font-family: "Shrikhand";
}

.hero__title .far {
  font-size: 2em;
  width: 10%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    height: 20em;
    width: 100%;
  }
  .hero__title__text {
    font-size: 1.5em;
  }
  .hero__title .far {
    font-size: 1.5em;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .hero {
    height: 15em;
  }
}

/*MAIN*/

.main {
  width: 100%;
  background-color: rgba(236, 235, 235, 0.945);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 2em;
}

.main__section {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.main__section__title {
  text-transform: uppercase;
  font-weight: normal;
}

.main__section__card {
  width: 95%;
  height: 4em;
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.main__section__card p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  height: 1em;
}

.main__section__card__text1 {
  width: 100%;
  font-weight: bold;
}

.main__section__card__text2 {
  width: 90%;
  font-size: 0.9em;
}

.main__section__card__price {
  width: 10%;
  font-weight: bold;
}

.main__button {
  background: linear-gradient(160deg, #ff79da, #9356dc);
  border-radius: 10em 10em 10em 10em;
  padding: 1em;
  font-size: 1em;
  color: white;
  border-style: none;
  cursor: pointer;
  width: 14em;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    flex-direction: column;
    padding: 0;
    padding-bottom: 4em;
    align-items: center;
    width: 100%;
  }

  .main__section {
    width: 100%;
    align-items: center;
  }

  .main__section__title {
    width: 90%;
  }

  .main__section__card {
    width: 90%;
    height:3em;
  }
  .main__button {
    margin-top: 2em;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .main {
    flex-direction: column;
    padding: 0;
    padding-bottom: 4em;
    align-items: center;
    width: 100%;
  }

  .main__section {
    width: 100%;
    align-items: center;
  }

  .main__section__title {
    width: 90%;
  }

  .main__section__card {
    width: 90%;
  }
  .main__button {
    margin-top: 2em;
  }
}

/*FOOTER*/

.footer {
  background-color: #353535;
  padding: 1em;
}

.footer__list {
  list-style-type: none;
  line-height: 1.5em;
  color: white;
}

.footer__list__title {
  font-family: "Shrikhand";
  font-size: 1.3em;
  margin-bottom: 1em;
}

.footer__list__element a {
  color: white;
}

.footer__list .fas {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.footer__list__link:hover {
  color: #ff79da;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding: 0.5em;
  }
}
